name: PR Test

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

jobs:
  GradlePRTest:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Gradle PR Test
      run: ./gradlew clean check -PprTest
